@media (min-width:1279px) {
    
    .header header {
        padding: 0;
        height: 12vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }    
}
header {
    padding: 2% 0;
    background-image: url('../../../static/img/bg_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    margin-top: -2px;
    margin-bottom: -2px;
}
header h1 {
    text-align: center;
    color:#fff;
    font-family: 'Ford Antenna Bold';
    font-size: 30px;
}