/* .station-container .estacion-pic {
    max-width: 100%;
}

.station-container .boton-ver-recursos{
    float: right;
    margin: 0 15px 18px 0;
    padding: 0.6em 5em;
    font-size: 16px;
    font-family: 'Ford Antenna Bold';

}
 */
