/*todo refatorizar*/

h3 {
    color: var(--secondary) !important;
    font-family: 'Ford Antenna Bold';
    padding: 2vw 0;
    font-size: calc(1.1rem + .8vw) !important;
    margin-top: 20px !important;
}
@media (min-width:1279px) {
    .quiz-container {
        height: 76vh;
        overflow: scroll;
    }
}
.quiz-container .quiz-items {
    max-width: 100%;
    margin: 0 auto !important;
    margin-right: 20px;
}
.quiz-container .quiz-items div {
    font-family: 'Ford Antenna Bold';
    color:var(--dark);
    font-size: 2vw;
    border:2px solid var(--grey);
    margin: 2vw 0;
    padding: 16px 30px 16px 8vw;
    position: relative;
    text-align: center;
    background-color: #fff;
    width: 47%;
    margin-right: 3% !important; 
    align-items: center;
    display: flex;
    justify-content: center;

}

.quiz-container .quiz-items div:hover,
.quiz-container .quiz-items div.quiz-body-item-selected {
    border:4px solid var(--primary);
    background-color: #fff;
}

.quiz-container .quiz-items div.quiz-body-item-selected-wrong {
    border:4px solid red;
    background-color: #fff;
}
.quiz-container .quiz-items .quiz-body-item-selected-wrong span{
    background-color: red!important;
    border:4px solid red;
}

.quiz-container .quiz-items div.quiz-body-item-selected-right {
    border:4px solid green;
    background-color: #fff;
}
.quiz-container .quiz-items .quiz-body-item-selected-right span{
    background-color: green!important;
    border:4px solid green;
}

.quiz-container .quiz-items div span {
    content: "";
    background-color: var(--grey);
    color:var(--dark);
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left:-6px;
    top:-15px;
    height: calc(100% + 26px);
    border-radius: 15px 0 0 15px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
}

.quiz-container .quiz-items div.quiz-body-item-selected span {
    background-color: var(--primary);
    color:#fff;
}

