.mypage-enter {
    opacity: 0.3;
}
.mypage-enter-active {
    opacity: 1;
    transition: opacity 100ms;
}
.mypage-exit {
    opacity: 1;
}
.mypage-exit-active {
    opacity: 0.7;
    transition: opacity 100ms;
}